.report-card {
  border-radius: 10px;
  background-color: var(--syn-color-neutral-0);
  border: 1px solid var(--syn-color-neutral-400);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 156px;
  height: 156px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.report-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 8px;
}

.report-image img {
  object-fit: cover;
}

.report-name {
  padding: 5px;
  padding-top: 0;
  font-size: 16px;
  color: #000;
  text-align: center;
}
