.floor-map-display {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}

.konva-stage-container {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.bottom-right-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.facility-column {
  display: flex;
  margin-top: auto;
  margin-right: var(--syn-spacing-medium);
}

.facility-name {
  font-size: var(--syn-font-size-medium);
}

.buttons-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bottom-right-container syn-button {
  background-color: var(--syn-color-neutral-0);
}

.button-icon {
  color: var(--syn-color-primary-500, #0ca2eb);
  font-size: 24px;
}

.dashboard-control-button {
  border: #0ca2eb;
  border-width: 1px;
  border-style: solid;
  background: var(--syn-color-neutral-0);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboard-control-button img {
  object-fit: contain;
  max-width: 60%;
  max-height: 60%;
}
