.side-panel-container{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1; 
}

.side-panel-bar {
    width: 80px; 
    display: flex;
    padding-top: var(--syn-spacing-x-large);
    flex-direction: column;
    align-content: center;
}

.side-panel-content{
    width: 320px; 
    display: flex;
    flex-direction: column;
    align-content: center;
}

.side-panel-border {
    border-style: solid;
    border-width: var(--syn-border-width-small);
    border-color: var(--syn-color-neutral-700);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}