.side-panel-item {
    padding-top: var(--syn-spacing-medium);
    padding-bottom: var(--syn-spacing-medium);
    display: flex;       
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-panel-item:hover{
    background-color: var(--syn-color-neutral-100);
    cursor: pointer;
}

.side-panel-text {
    margin-top: var(--syn-spacing-x-small);
    text-align: center;
    width: 100%;
    font-size: var(--syn-font-size-x-small);
}

.side-panel-image {
    width: 24px;
    height: 24px;
}