.side-panel-item {
    margin-top: var(--syn-spacing-x-large);
    display: flex;       
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-panel-text {
    margin-top: var(--syn-spacing-x-small);
    text-align: center;
    width: 100%;
    font-size: var(--syn-font-size-x-small);
}

.side-panel-image {
    width: 24px;
    height: 24px;
}