.form-top-margin{
    margin-top: var(--syn-spacing-large);
}

.form-button{
    width: 120px;
}

.form-input-width{
    width: 350px;
}

.form-button-container {
    display: flex;
    gap: var(--syn-spacing-medium);
    flex-direction: row;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.image-container {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: middle;
    max-width: 300px;
    max-height: 300px;
  }
  
  .image-preview {
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;
    margin-top: 16px;
    margin-bottom: 16px;
  }