.asset-report-button-group {
  display: flex;
  gap: 8px;
}

.export-buttons-top-margin {
  margin-top: var(--syn-spacing-x-small);
}

.export-input-label {
  text-align: center;
  margin-top: 10px;
}
